<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HttpListen" doc:name="HTTP Listener config" doc:id="5f7687d7-b429-43aa-867b-b96748861518" >
		<http:listener-connection host="0.0.0.0" port="8081">
		</http:listener-connection>
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="9d88c0b4-9a3c-4c51-8e1d-e51f54c22207" >
		<db:generic-connection url="jdbc:snowflake://vk80026.ap-south-1.aws.snowflakecomputing.com" driverClassName="com.snowflake.client.jdbc.SnowflakeDriver" user="kishoremule001" password="Mulesoft@123" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="d3bc1ebc-963a-47f6-8f13-055acd0ce0e3" file="properties/${mule_env}-properties.yaml" />
	<global-property doc:name="Global Property" doc:id="37acf4a4-f702-4d14-b2c3-2e74196b5aac" name="mule_env" value="dev" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="9f32f409-510e-4954-ac54-66ec08af3c16" file="properties/dev-properties.yaml" key="1111111111111111" />
</mule>
